.button {
    font: inherit;
    border: 1px solid #00538EFF;
    background: #00538EFF;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #0079F1FF;
    border-color: #0079F1FF;
}

.button:focus {
    outline: none;
}